<style>
    /* force scrollbar */
    html { overflow-y: scroll; }
        
    /* To overwrite page's padding, to get bigger images */
    /* article {padding:2%;} */
</style>



<div>
    <table class="table1">
        <th colspan="2">Professor</th>
        <tr>
            <td rowspan="5">Pic</td>
            <td>In-Kwon-YOO(유인권)</td>
        </tr>
        <tr>
            <td>E-mail : yoo@pusan.ac.kr</td>
        </tr>
        <tr>
            <td>Homepage : <a href='https://yoo.pusan.ac.kr'>https://yoo.pusan.ac.kr</a> </td>
        </tr>
        <tr>
            <td>Office : +82-51-510-2594</td>
        </tr>
        <tr>
            <td>Fax : +82-51-512-2594</td>
        </tr>
    </table>
</div>

<div>
    <table class="table2">
        <tr>
            <td>
                Education<br>
                B.S. : Seoul Nat'l University (Seoul, Korea) / Dep. Astronomy<br>
                M.S. (Diplom physiker) : Philipps-Universität Marburg (Germany) / Dep. Physics<br>
                PH.D. (Dr.rer.nat) : Philipps-Universität Marburg (Germany) / Dep. Physics<br>
                
                Career<br>
                Post-Doctoral Researcher at Philipps-Universität Marburg / FB Physik (2001)<br>
                Invited Post-Doctoral Researcher at GSI  (2002)<br>
                Visiting Researcher at BNL (2008)<br>
                National Representative of Korean ALICE (2009-2016)<br>
                Scientific Associate at CERN (2015-2016)<br>
                Dean, Office of Research Affairs, Pusan National University (2020-)  <br>
                
                Participation of Research<br>
                GSI (Germany) : Compressed Baryonic Matter (CBM) at Facility for Antiproton and Ion Research<br>
                BNL (USA) : Solenoidal Tracker At Rhic (STAR) at Relativistic Heavy Ion Collider<br>
                CERN (Switzerland) : A Large Ion Collider Experiment (ALICE) at Large Hadron<br>
            </td>
        </tr>
    </table>
</div>