<style>
    /* force scrollbar */
    html { overflow-y: scroll; }
        
    /* To overwrite page's padding, to get bigger images */
    /* article {padding:2%;} */
</style>

<div>
    <table class="table1">
        <th colspan="2">PhD Course</th>
        <tr>
            <td rowspan="5">Pic</td>
            <td>임봉휘(Bong-Hwi Lim)</td>
        </tr>
        <tr>
            <td>E-mail: bonghwilim@gmail.com</td>
        </tr>
        <tr>
            <td>Tel : +82-51-513-2594</td>
        </tr>
        <tr>
            <td>Fax : +82-51-512-2594</td>
        </tr>
        <tr>
            <td>B.S. : Pusan Nat'l Univ. Department of Physics</td>
        </tr>
        

        <th colspan="2">Maseter Course</th>
        <tr>
            <td rowspan="5">Pic</td>
            <td>권민재(Minjae Kwon)</td>
        </tr>
        <tr>
            <td>E-mail: bonghwilim@gmail.com</td>
        </tr>
        <tr>
            <td>Tel : +82-51-513-2594</td>
        </tr>
        <tr>
            <td>Fax : +82-51-512-2594</td>
        </tr>
        <tr>
            <td>B.S. : Pusan Nat'l Univ. Department of Physics</td>
        </tr>

        <tr>
            <td rowspan="5">Pic</td>
            <td>정지혜(Jihye Jeong)</td>
        </tr>
        <tr>
            <td>E-mail: bonghwilim@gmail.com</td>
        </tr>
        <tr>
            <td>Tel : +82-51-513-2594</td>
        </tr>
        <tr>
            <td>Fax : +82-51-512-2594</td>
        </tr>
        <tr>
            <td>B.S. : Pusan Nat'l Univ. Department of Physics</td>
        </tr>

        <tr>
            <td rowspan="5">Pic</td>
            <td>최성운(Sungwoon Choi))</td>
        </tr>
        <tr>
            <td>E-mail: bonghwilim@gmail.com</td>
        </tr>
        <tr>
            <td>Tel : +82-51-513-2594</td>
        </tr>
        <tr>
            <td>Fax : +82-51-512-2594</td>
        </tr>
        <tr>
            <td>B.S. : Pusan Nat'l Univ. Department of Physics</td>
        </tr>
    </table>
</div>

<div>
    <table class="table2">
        <th colspan="2">Intern</th>
        <tr>
            <td rowspan="4">최용준</td>
        </tr>
        <tr>
            <td>학부 4학년 재학 중</td>
        </tr>
        <tr>
            <td>Period: 2020.12~</td>
        </tr>
        <tr>
            <td>E-mail: bonghwilim@gmail.com</td>
        </tr>
    </table>
</div>