<style>
    /* force scrollbar */
    html { overflow-y: scroll; }
        
    /* To overwrite page's padding, to get bigger images */
    /* article {padding:2%;} */
</style>

<div>
    <section id="container">
        <aside id="aside">
            <ul>
                <li> <a href=''>Professor</a></li>
                <li> <a href=''>Members</a></li>
                <li> <a href=''>Old Members</a></li>
                <li> <a href=''>Old Interns</a></li>
            </ul>
        </aside>
    </section>
</div>