<style>
    /* force scrollbar */
    html { overflow-y: scroll; }
        
    /* To overwrite page's padding, to get bigger images */
    /* article {padding:2%;} */
</style>

<div>
    <table class="table1">
        <th colspan="2">Old Intern Members</th>
        <tr>
            <td>임봉휘(????~????)</td>
            <td>contens</td>
        </tr>
        <tr>
            <td>임봉휘(????~????)</td>
            <td>contens</td>
        </tr>
        <tr>
            <td>임봉휘(????~????)</td>
            <td>contens</td>
        </tr>
        <tr>
            <td>임봉휘(????~????)</td>
            <td>contens</td>
        </tr>
        <tr>
            <td>임봉휘(????~????)</td>
            <td>contens</td>
        </tr>
    </table>
</div>