<style>
    /* force scrollbar */
    html { overflow-y: scroll; }
        
    /* To overwrite page's padding, to get bigger images */
    /* article {padding:2%;} */
</style>

<div>
    <table class="table1">
        <th colspan="2">PhD Course</th>
        <tr>
            <td rowspan="5">Pic</td>
            <td>임봉휘(Bong-Hwi Lim)</td>
        </tr>
        <tr>
            <td>E-mail: bonghwilim@gmail.com</td>
        </tr>
        <tr>
            <td>Tel : +82-51-513-2594</td>
        </tr>
        <tr>
            <td>Fax : +82-51-512-2594</td>
        </tr>
        <tr>
            <td>B.S. : Pusan Nat'l Univ. Department of Physics</td>
        </tr>
    </table>
</div>