.table1{
    width: 600px; 
    float: right;
    margin-right: 20%;

}

.table2{
    width: 600px;
    float: right;
    margin-right: 20%;

}

.tabletitle{
    color: navy;
    font-size: large;
    font-weight: bold;
}

.tablecontent{
    font-size: medium;
}